<mat-form-field appearance="outline"
                [class.mat-form-field-disabled]="configurationService.useGeolocation$ | async">
  <mat-label>{{ 'app.locationFilter.label' | translate }}</mat-label>

  <input matInput [placeholder]="'app.locationFilter.placeholder' | translate "
         [formControl]="searchControl"
         [matAutocomplete]="autocompleteRef"
         [readonly]="configurationService.useGeolocation$ | async"/>

  <mat-icon matSuffix>arrow_drop_down</mat-icon>
  <mat-autocomplete autoActiveFirstOption
                    #autocompleteRef="matAutocomplete"
                    [displayWith]="displayWithFn">
    <mat-option *ngIf="!!searchControl.value">-</mat-option>
    <mat-option *ngFor="let location of filteredStations$ | async" [value]="location">{{location.name}}</mat-option>
  </mat-autocomplete>

</mat-form-field>
<mat-slide-toggle color="primary"
                  [checked]="configurationService.useGeolocation$ | async"
                  (change)="configurationService.setUseGeolocation($event.checked)">
  {{ 'app.locationFilter.followToggleLabel' | translate}}
</mat-slide-toggle>

