<mat-toolbar color="primary">
  <div>{{ 'toolbar.title' | translate }}</div>
</mat-toolbar>

<h2>{{ 'app.title' | translate}}</h2>
<h3>{{ 'app.subTitle' | translate }}</h3>

<app-location-filter (locationSelectedEvent)="onLocationChanged($event)"></app-location-filter>

<ng-container *ngIf="selectedLocationAirIndex$ | async as airIndex">
  <ng-container *ngIf="selectedLocation$ | async as selectedLocation">

    <app-details-card *ngIf="airIndex.summary.indexValue > 0; else noData"
                      [airIndex]="airIndex"
                      [selectedLocation]="selectedLocation">
    </app-details-card>

    <ng-template #noData>
      <div>{{ 'app.noData' | translate }}</div>
    </ng-template>
  </ng-container>
</ng-container>

<footer class="footer">
  <span>{{ 'app.footer' | translate }}</span>&nbsp;
  <a href="https://www.github.com/wojcikmm">WojcikMM</a>
</footer>


