<mat-card>
  <mat-card-title>{{selectedLocation?.cityName}}</mat-card-title>
  <mat-card-subtitle>{{selectedLocation?.addressStreet}}</mat-card-subtitle>
  <mat-card-subtitle>{{selectedLocation?.provinceName}}</mat-card-subtitle>

  <mat-card-content>
    <mat-expansion-panel *ngIf="airIndex"
                         class="air-index-level"
                         [class.air-index-level--good]="airIndex.summary.indexValue >= 0 && airIndex.summary.indexValue < 2"
                         [class.air-index-level--warning]="airIndex.summary.indexValue >= 2 && airIndex.summary.indexValue <= 5"
                         [class.air-index-level--bad]="airIndex.summary.indexValue >= 5">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Air condition: {{airIndex.summary.indexValue | airConditionLevel }}
        </mat-panel-title>
        <mat-panel-description>
          Click for details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        Here will be detailed info
      </div>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
