@import '~@angular/material/_theming.scss';

@include mat-core();

@mixin alert-panel-header($palette-color) {
  &.mat-expansion-panel {
    mat-expansion-panel-header.mat-expansion-panel-header {
      background-color: mat-color($palette-color, 500, 0.8);
    }

    &:hover,
    &:focus {
      mat-expansion-panel-header.mat-expansion-panel-header:not(.mat-expanded):not([aria-disabled=true]) {
        background-color: mat-color($palette-color, 500, 0.9) !important;
      }
    }
  }
}


.air-index-level {
  &--good {
    @include alert-panel-header($mat-green);
  }

  &--warning {
    @include alert-panel-header($mat-yellow);
  }

  &--bad {
    @include alert-panel-header($mat-red);
  }
}

.air-index-value-table {
  width: 100%;
}
