<mat-card>
  <mat-card-title>{{selectedLocation?.city?.name}}</mat-card-title>
  <mat-card-subtitle>{{selectedLocation?.addressStreet}}</mat-card-subtitle>
  <mat-card-subtitle>{{selectedLocation?.city?.commune?.provinceName}}</mat-card-subtitle>

  <mat-card-content>
    <mat-expansion-panel *ngIf="airIndex"
                         class="air-index-level"
                         [class.air-index-level--good]="airIndex.stIndexLevel.id >= 0 && airIndex.stIndexLevel.id < 2"
                         [class.air-index-level--warning]="airIndex.stIndexLevel.id >= 2 && airIndex.stIndexLevel.id <= 5"
                         [class.air-index-level--bad]="airIndex.stIndexLevel.id >= 5">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Air condition: {{airIndex?.stIndexLevel?.id | airConditionLevel }}
        </mat-panel-title>
        <mat-panel-description>
          Click for details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        Here will be detailed info
      </div>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
