<h2>{{ 'app.title' | translate}}</h2>
<h3>{{ 'app.subTitle' | translate }}</h3>

<app-location-filter [allStations]="allStations$ | async"
                     (locationSelectedEvent)="onLocationChanged($event)">
</app-location-filter>

<mat-card *ngIf="selectedLocation$ | async as selectedLocation">
  <mat-card-title>{{selectedLocation?.cityName}}</mat-card-title>
  <mat-card-subtitle>{{selectedLocation?.addressStreet}}</mat-card-subtitle>
  <mat-card-subtitle>{{selectedLocation?.provinceName}}</mat-card-subtitle>

  <mat-card-content *ngIf="selectedLocationAirIndex$ | async as airIndex">

    <app-details-card *ngIf="airIndex.summary.indexValue !== 0; else noData"
                      [airIndex]="airIndex">
    </app-details-card>

    <ng-template #noData>
      <div>{{ 'app.noData' | translate }}</div>
    </ng-template>
  </mat-card-content>
</mat-card>



