<mat-expansion-panel *ngIf="airIndex"
                     class="air-index-level"
                     [class.air-index-level--bad]="airIndex.summary.indexValue >= 1 && airIndex.summary.indexValue < 3"
                     [class.air-index-level--warning]="airIndex.summary.indexValue >= 3 && airIndex.summary.indexValue < 5"
                     [class.air-index-level--good]="airIndex.summary.indexValue >= 5">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>{{ 'app.detailsCard.cardTitle' | translate }}</span>&nbsp;
      <strong>
        <app-air-index-value-text-description [useColors]="false"
                                              [indexValue]="airIndex.summary.indexValue">
        </app-air-index-value-text-description>
      </strong>
    </mat-panel-title>
    <mat-panel-description>{{ 'app.detailsCard.cardDetails' | translate }}</mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    <table mat-table class="mat-elevation-z8 air-index-value-table" [dataSource]="tableData">
      <ng-container [matColumnDef]="displayedColumns[0]">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'app.detailsCard.columns.name' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{element.indexName}}</td>
      </ng-container>
      <ng-container [matColumnDef]="displayedColumns[1]">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'app.detailsCard.columns.valueDate' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.indexDate">
                {{ 'app.detailsCard.tableNoData' | translate }}
                <button mat-icon-button
                        color="primary"
                        [matTooltip]="'app.detailsCard.tableNoDataTooltip' | translate"
                        #matTooltip="matTooltip"
                        (click)="matTooltip.toggle()">
                  <mat-icon>help</mat-icon>
                </button>
              </span>
          <span *ngIf="element.indexDate">
            <ng-container *ngIf="langKey$ | async as langKey">
              <span *ngIf="langKey=== 'pl'">
                {{element.indexDate | date: 'dd-MM-YYYY' }}
              </span>
              <span *ngIf="langKey !== 'pl'">
                {{element.indexDate | date: 'MM/dd/YYYY' }}
              </span>
            </ng-container>
          </span>
        </td>
      </ng-container>
      <ng-container [matColumnDef]="displayedColumns[2]">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'app.detailsCard.columns.rating' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <app-air-index-value-text-description [indexValue]="element.indexValue">
          </app-air-index-value-text-description>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-expansion-panel>
